body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f9f7;
}

.header {
  background: #2e7d32;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  background: #e8f5e9;
  text-align: center;
  padding: 60px 20px;
}

.hero button {
  background: #ff9800;
  border: none;
  padding: 12px 20px;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.productos {
  padding: 40px 20px;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}


.footer {
  background: #2e7d32;
  color: white;
  text-align: center;
  padding: 15px;
}


@media (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-items: center;
  }
}
.card {
  background: white;
  padding: 20px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
}